<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{page.title}}</title>
</head>
<body>
    <main class="sassdown-main">
        <nav class="sassdown-nav">
            <h1 class="sassdown-title"><a href="{{> root}}/{{href}}">Styleguide</a></h1>
            {{#each pages}}
                {{#if isDirectory}}
                    <h2 class="sassdown-heading">{{name}}</h2>
                    <ul class="sassdown-group">
                    {{#each pages}}
                        <li>
                            {{#if isDirectory}}
                                <h3 class="sassdown-heading">{{name}}</h3>
                                <ul class="sassdown-group">
                                {{#each pages}}
                                    <li>
                                        {{#if isDirectory}}
                                            <h4 class="sassdown-heading">{{name}}</h4>
                                            <ul class="sassdown-group">
                                            {{#each pages}}
                                                <li>
                                                    <a href="{{> root}}/{{href}}">{{title}}</a>
                                                </li>
                                            {{/each}}
                                            </ul>
                                        {{else}}
                                            <a href="{{> root}}/{{href}}">{{title}}</a>
                                        {{/if}}
                                    </li>
                                {{/each}}
                                </ul>
                            {{else}}
                                <a href="{{> root}}/{{href}}">{{title}}</a>
                            {{/if}}
                        </li>
                    {{/each}}
                    </ul>
                {{else}}
                    <a href="{{> root}}/{{href}}">{{title}}</a>
                {{/if}}
            {{/each}}
        </nav>

        <section class="sassdown-content">
            {{#each page.sections}}
                <section class="sassdown-section">
                    {{#if comment}}
                        <div class="sassdown-comment">{{{comment}}}</div>
                    {{/if}}
                    {{#if result}}
                        <div class="sassdown-result">
                            <iframe id="sassdown-iframe{{@index}}" height="0" src="about:blank"></iframe>
                            <script id="sassdown-result{{@index}}" type="text/html">{{{result}}}</script>
                            <script id="sassdown-script{{@index}}">
                                var iframe  = document.getElementById('sassdown-iframe{{@index}}');
                                var script  = document.getElementById('sassdown-script{{@index}}');
                                var result  = document.getElementById('sassdown-result{{@index}}');
                                var context = iframe.contentWindow.document;
                                    context.open();
                                    context.write('<!DOCTYPE html>');
                                    context.write('<'+'html>');
                                    context.write('    <'+'head>');
                                    context.write('        {{> assets}}');
                                    context.write('    <'+'/'+'head>');
                                    context.write('    <'+'body>');
                                    context.write(result.innerHTML);
                                    context.write('    <'+'/'+'body>');
                                    context.write('<'+'/'+'html>');
                                    context.close();
                                result.parentNode.removeChild(result);
                                script.parentNode.removeChild(script);
                            </script>
                        </div>
                    {{/if}}
                    {{#if markup}}
                        <div class="sassdown-markup">{{{markup}}}</div>
                    {{/if}}
                    {{#if styles}}
                        <div class="sassdown-styles">{{{styles}}}</div>
                    {{/if}}
                </section>
            {{/each}}
        </section>
    </main>

    <script>
        window.onload = function() {
            var iframes = document.querySelectorAll('iframe');
            for ( var i = 0; i < iframes.length; i++ ){
                iframes[i].height = iframes[i].contentWindow.document.body.scrollHeight;
            }
        };
        var headings = document.querySelectorAll('.sassdown-heading');
        for ( var i = 0; i < headings.length; i++ ){
            headings[i].addEventListener('click', function () {
                this.classList.toggle('is-open');
                this.nextElementSibling.classList.toggle('is-open');
            });
        }
    </script>

    {{> theme}}
    {{> highlight}}

</body>
</html>
